input[type=search] {
    height: 30px;
}
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.alert {
    position: fixed;
    right: 15px;
    bottom: 0px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.dt-body-right{
    text-align: center;
}
.modal-content {
    border-radius: 0px;
}

.modal-body {
    padding: 25px;
}

.modal-header {
    background: linear-gradient(to right, #6190e8, #a7bfe8);
}

.modal-footer .btn {
    font-weight: bold;
}

.modal-title {
    color:white;
    font-weight: bold;
}

input.form-input {
    border: none;
    height: 36px;
    border-radius: 0px;
    border-bottom: 1px solid #999;
}

.form-label{
    line-height: 2.6;
    text-align: right;
    padding-right: 0px;
}

.table > thead > tr > th {
    border-bottom: 1px solid #e6e7e8;
    vertical-align: middle;
    height: 30px;
}
