<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/insp.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <title>ЕДИНАЯ СИСТЕМА ОБМЕНА ВЫПЛАТНЫМИ ДОКУМЕНТАМИ</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"/>

</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#"><span>ЕСО</span>ВД</a>

        </div>
    </div><!-- /.container-fluid -->
</nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img th:src="@{../img/man.png}" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name" th:utext="${user.getSurname() + ' ' + user.getFirstname()}"></div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>

        <ul class="nav menu">
            <li><a th:href="@{/inspector}"><em class="fa fa-home">&nbsp;</em> ГЛАВНАЯ</a></li>
            <li class="active"><a th:href="@{#}"><em class="fa fa-upload">&nbsp;</em> ЗАГРУЗКА ДОКУМЕНТА</a></li>
            <li><a th:href="@{/inspector/archive}"><em class="fa fa-list-alt">&nbsp;</em> ИСТОРИЯ</a></li>
            <li><a th:href="@{/logout}"><em class="fa fa-power-off">&nbsp;</em> ВЫХОД</a></li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
                <li>Главная</li>
                <li class="active">Загрузка документов</li>
            </ol>
        </div><!--/.row-->


        <div class="panel panel-default">
            <div class="panel-heading">
                Директория для считывания документов
            </div>
            <div class="panel-body">

            <form class="form-inline">
                <div class="form-group">
                    <input id="filesInput" class="btn btn-default" type="file" multiple>
                </div>
            </form>


            </div>
            <div id="filesSelectDiv" class="panel-footer" style="display: none;">
                <button id="upload_btn" style="display: none; position: absolute; right: 30px;font-weight: bold;
    background-color: #137f15;
    border-color: #286329;
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);" type="button"  class="btn btn-primary" ><span class="fa fa-cloud-upload"></span> Загрузить документы</button>
                <button id="sign" style="display: none; position: absolute; right: 30px;" type="button" class="btn btn-primary"><span class="fa fa-pencil"></span> Подписать документы</button>

                <table id="files" class="table table-bordered table-condensed" style="width: 100%" >
                    <thead>
                    <tr>
                        <th>Название файла</th>
                        <th>Путь</th>
                        <th>Статус подписания</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" style="height: 40px;line-height: 20px;">Список выплатных документов</div>
            <div class="panel-body" style="display: block;">
                <table id="table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>UUID</th>
                        <th>Код банка</th>
                        <th>Название документа</th>
                        <th>Тип документа</th>
                        <th>Путь хранения</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>	<!--/.main-->

    <div id="alert_success" class="alert alert-success fade in" hidden="hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
        <span class="glyphicon glyphicon-ok"></span> <strong>Успешно выполнено!</strong>
        <hr class="message-inner-separator">
        <p>
            Документы успешно загружены на сервер!</p>
    </div>

    <div id="alert_success_sign" class="alert alert-success fade in" hidden="hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
        <span class="glyphicon glyphicon-ok"></span> <strong>Успешно выполнено!</strong>
        <hr class="message-inner-separator">
        <p>
            Документы успешно подписаны!</p>
    </div>


    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="http://dev.avest.by/avcmxwebp/1.1.5/wrapper/avcmxwebp-1.1.5.js"></script>
    <script type="text/javascript" th:src="@{/js/ecp.js}"></script>
    <script>

        $(document).ready(function() {

            


            var tablefiles = $('#files').DataTable({
                "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                "scrollY":  '50vh',
                "scrollCollapse": true,
                dom: 'Bfrtip',
                select: true,
                buttons: [
                    {
                        text: 'Выбрать все',
                        action: function () {
                            tablefiles.rows().select();
                        }
                    },
                    {
                        text: 'Отменить выбор',
                        action: function () {
                            tablefiles.rows().deselect();
                        }
                    }
                ],
                language : {
                    "decimal":        "",
                    "emptyTable":     "Нет данных в таблице",
                    "info":           "Отображено от _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty":      "Отображено от 0 до 0 из 0 записей",
                    "infoFiltered":   "(filtered from _MAX_ total entries)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Показывать _MENU_ записей",
                    "loadingRecords": "Загрузка...",
                    "processing":     "Обработка...",
                    "search":         "Поиск:",
                    "zeroRecords":    "Записей не найдено",
                    "paginate": {
                        "first":      "Первая",
                        "last":       "Последняя",
                        "next":       "Следующая",
                        "previous":   "Предыдущая"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },

                "columnDefs": [
                    {
                       "targets":2,
                        "orderable": false,
                        "searchable": false,
                        "render":function(data){
                            if(data == 1) {
                                return "<span style='color:green; font-size: 20px;' class='fa fa-check-square-o'></span>"
                            } else {
                                return "<span style='color:orange; font-size: 20px;' class='fa fa-square-o'></span>";
                            }
                        },
                        "className": 'dt-body-right'
                    }
                ]
            });
            var allFiles = [];
            var selectedFiles = [];
            tablefiles
                .on( 'select', function ( e, dt, type, indexes ) {
                    tablefiles.rows({ selected: true }).every( function ( rowIdx, tableLoop, rowLoop ) {
                        var data = this.data();
                        var flag = false;
                        if(data[2] === '1') {
                            $('#sign').css('display', 'none');
                            $('#upload_btn').css('display', 'block');
                        } else {
                            $('#sign').css('display', 'block');
                            $('#upload_btn').css('display', 'none');
                        }
                    });

                } )
                .on( 'deselect', function ( e, dt, type, indexes ) {

                    var data=tablefiles.rows( { selected: true }).data();
                    if(data.length === 0) {
                        $('#sign').css('display', 'none');
                        $('#upload_btn').css('display', 'none');
                    }
                } );


            var sign = function () {

                avcmx().connectionAsync(function (error, conn) {
                    if(error !== undefined) {
                        return error;
                    } else {



                        tablefiles.rows({ selected: true }).every( function ( rowIdx, tableLoop, rowLoop ) {
                            var data = this.data();
                            if(data[2] === 0) {
                                var file = allFiles[rowIdx];
                                var reader = new FileReader();
                                reader.readAsDataURL(file);
                                reader.onerror = function (error) {
                                    return "Невозможно прочитать выбранный файл";
                                };
                                var flags = AVCMF_ADD_SIGN_CERT;
                                flags |= AVCMF_DETACHED;
                                reader.onload = function () {
                                    conn.message(avcmx().blob().base64(reader.result.split(',')[1])).signAsync(flags, function (errors, signm) {
                                        if (errors !== undefined) {

                                            return;
                                        }
                                        var signature = signm.val().base64();
                                        var path = file.name.substring(0, file.name.length - 4) + '_signature.sign';
                                        var newBlob = new Blob([signature], {type: 'application/octet-stream'});
                                        uploadFile(newBlob, path);
                                    });
                                };

                                data[2] = '1';
                                this.data(data);
                                tablefiles.draw(false);
                            }

                        });
                        $("#alert_success_sign").fadeTo(4000, 1500).slideUp(1500, function () {
                            $("#alert_success_sign").slideUp(1500);
                        });
                        $('#upload_btn').css('display', 'block');
                    }
                });


            };

            $('#upload_btn').click(function () {
                upload();
                var rows = tablefiles
                    .rows( { selected: true } )
                    .remove()
                    .draw();
                tablefiles.draw(false);
            });

            var upload = function(){
                var selectedData=tablefiles.rows( { selected: true }).indexes();

                var data = new FormData();
                jQuery.each(allFiles, function(i, file) {
                    if(jQuery.inArray(i, selectedData) != -1) {
                        data.append('file', file);
                    }
                });

                var ajaxReq = $.ajax({
                    url: '/inspector/loadDocument',
                    type: 'POST',
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        if(data == 'OK') {
                            $('#upload_btn').css('display', 'none');
                            $('#filesSelectDiv').css('display', 'none');
                            $('#sign').css('display', 'none');
                            $("#alert_success").fadeTo(2000, 500).slideUp(500, function () {
                                $("#alert_success").slideUp(500);
                            });
                            $('#table').DataTable().ajax.reload();
                        } else {
                            alert(data);
                        }

                    }
                });

            };

            $('#sign').click(function () {
                $('#sign').css('display', 'none');
                sign();
            });



            $('input[type="file"]').change(function(e){
                tablefiles.clear().draw();
                $('#upload_btn').css('display', 'none');
                $('#sign').css('display', 'none');
                $('.panel-footer').css('display', 'block');
                allFiles = $('#filesInput')[0].files;
                for (var i = 0; i < allFiles.length; i++) {
                    tablefiles.row.add([
                        allFiles[i].name,
                        '',
                        0
                    ]);
                }
                tablefiles.draw(false);
            });




                var path = $('#pathInput').val();
                $('#table').DataTable({
                    ajax: {
                        url: '/inspector/getUploadFiles',
                        dataSrc: ''
                    },
                    language : {
                        "decimal":        "",
                        "emptyTable":     "Нет данных в таблице",
                        "info":           "Отображено от _START_ до _END_ из _TOTAL_ записей",
                        "infoEmpty":      "Отображено от 0 до 0 из 0 записей",
                        "infoFiltered":   "(filtered from _MAX_ total entries)",
                        "infoPostFix":    "",
                        "thousands":      ",",
                        "lengthMenu":     "Показывать _MENU_ записей",
                        "loadingRecords": "Загрузка...",
                        "processing":     "Обработка...",
                        "search":         "Поиск:",
                        "zeroRecords":    "Записей не найдено",
                        "paginate": {
                            "first":      "Первая",
                            "last":       "Последняя",
                            "next":       "Следующая",
                            "previous":   "Предыдущая"
                        },
                        "aria": {
                            "sortAscending":  ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                         }
                    },

                   columns: [
                        {data: 'uuid'},
                        {data: 'bank'},
                        {data: 'name'},
                        {data: 'typeDoc'},
                        {data: 'path'},
                        {data: 'status'}
                    ],
                    "columnDefs": [
                        {
                            "targets":5,
                            "orderable": false,
                            "searchable": false,
                            "render":function(data){

                                    return "<label style='font-size: 13px;\n" +
                                        "    box-shadow: 0 7px 6px -6px #777;\n" +
                                        "    border-radius: 0px;    background-color: #335f34;color: white;' class='label label-success'>" + data + "</label>"

                            },
                            "className": 'dt-body-right'
                        }
                    ]
                });

            });

        var connectEcp = function () {

          avcmx().connectionAsync(function (error, conn) {
              if(error !== undefined) {
                  return error;
              } else {
                  return conn;
              }
          })
        };

        /**var signDocument = function (conn, file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onerror = function (error) {
                return "Невозможно прочитать выбранный файл";
            };
            var flags = AVCMF_ADD_SIGN_CERT;
            flags |= AVCMF_DETACHED;
            reader.onload = function () {
                conn.message(avcmx().blob().base64(reader.result.split(',')[1]))
                    .sign(flags, function (errors, signm) {
                        if (errors !== undefined) {
                            return errors;
                        }
                        if (signm === undefined) {
                            return errors;
                        }
                        signature = signm.val().base64();
                        var path =  file.name.substring(0, file.name.length - 4) + '_signature.sign';
                        var newBlob = new Blob([signature], { type: 'application/octet-stream' });

                        uploadFile(newBlob, path);
                        return signature;
                    })
            }
        };*/


        function uploadFile(file, path) {
            var formdata = new FormData();
            formdata.append("file", file);
            $.ajax({
                url: "/inspector/uploadSgn?path=" + path,
                type: "POST",
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                success:function (data) {

                },
                error:function (error) {
                    alert(error);
                }
            });
        };

    </script>
</body>
</html>